In [22]:
stri="Ajay"

In [13]:
print(stri.isdigit())

False

In [20]:
stri.isalnum()

True

In [24]:
stri.isalpha()

True

In [25]:
stri.isdigit()

False

In [27]:
stri.isupper()

False

In [28]:
stri.islower()

False

In [29]:
stri.istitle()

True

In [30]:
stri.isspace()

False

In [36]:
stri.startswith('A')

True

In [38]:
stri.endswith('Y')

False

In [39]:
lst=list()
type(lst)

list

In [40]:
lst.append("p1")

In [41]:
print(lst)

['p1']

In [42]:
lst.append(["p4","p5"])

In [43]:
print(lst)

['p1', ['p4', 'p5']]

In [44]:
lst[1]

['p4', 'p5']

In [45]:
lst.append(5,6)

TypeError: append() takes exactly one argument (2 given)

In [46]:
lst.append(4)

In [47]:
print(lst)

['p1', ['p4', 'p5'], 4]

In [48]:
lst[2]

4

In [49]:
lst[1:2]

[['p4', 'p5']]

In [50]:
lst[0:]

['p1', ['p4', 'p5'], 4]

In [51]:
lst[:2]

['p1', ['p4', 'p5']]

In [52]:
lst.insert(1,"ajaY")

In [58]:
len(lst)

4

In [59]:
print(lst)

['p1', 'ajaY', ['p4', 'p5'], 4]

In [94]:
lst.extend([8,9])

In [95]:
print(lst)

['p1', 'ajaY', ['p4', 'p5'], 4, 8, 9, 8, 9, 8, 9]

In [97]:
sum(lst1)

16

In [70]:
print(lst)

['p1', 'ajaY', ['p4', 'p5'], 4, 8, 9, 8, 9]

In [69]:
lst*5

['p1',
 'ajaY',
 ['p4', 'p5'],
 4,
 8,
 9,
 8,
 9,
 'p1',
 'ajaY',
 ['p4', 'p5'],
 4,
 8,
 9,
 8,
 9,
 'p1',
 'ajaY',
 ['p4', 'p5'],
 4,
 8,
 9,
 8,
 9,
 'p1',
 'ajaY',
 ['p4', 'p5'],
 4,
 8,
 9,
 8,
 9,
 'p1',
 'ajaY',
 ['p4', 'p5'],
 4,
 8,
 9,
 8,
 9]

In [67]:
lst1=[1,2,3,4,5,6]

In [68]:
sum(lst1)

21

In [71]:
lst1*5

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6]

In [72]:
lst1.pop()

6

In [73]:
lst1.pop(1)

2

In [74]:
lst1.extend([1,1,1])

In [75]:
print(lst1)

[1, 3, 4, 5, 1, 1, 1]

In [77]:
lst1.count(1)

4

In [79]:
len(lst1)

7

## <font color=blue> index function: list_name.index(element, start, end) 
- returns the lowest index where the element appears </font>

In [89]:
print(lst1)
print(lst1.index(1,1,5)) # 4th Returns the index of first occurrence.

[1, 3, 4, 5, 1, 1, 1]
4

In [91]:
print(min(lst1))
print(max(lst1))

1
5

# SETS
## A Python set is the collection of the unordered items. Each element in the set must be unique, immutable, and the sets remove the duplicate elements. Sets are mutable which means we can modify it after its creation.

### A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements not support indexing. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [127]:

## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [99]:
set_exp = {1,2,3,4,5,2}
print(set_exp) # remove duplicate elements

{1, 2, 3, 4, 5}

In [100]:
type(set_exp)

set

In [101]:
set_exp[4] #set does not support indexing

TypeError: 'set' object is not subscriptable

In [103]:
set_exp.add("Adam Hangman Page")

In [104]:
print(set_exp)

{1, 2, 3, 4, 5, 'Adam Hangman Page'}

In [121]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [122]:
set2.intersection(set1)   # common in both set

{'Avengers', 'Hitman', 'IronMan'}

In [123]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [124]:
set2.intersection_update(set1)

In [125]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [107]:
set2.difference(set1) # print different element from set1

{'Hulk2'}

In [108]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [109]:
set2.difference_update(set1) # update differenc set element in set2

In [110]:
set2

{'Hulk2'}

# Dictionaries
### A dictionary is a collection which is unordered, changeable and indexed support indexing. In Python dictionaries are written with curly brackets, and they have keys and values.

In [128]:
dic = {}

In [129]:
type(dic)

dict

In [130]:
set_ex={1,2,3,4,5}

In [131]:
type(set_ex)

set

In [137]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"} #key:value
type(my_dict)

dict

In [136]:
my_dict['Car3']

'Mercidies Benz'

In [139]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [143]:

# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [145]:

# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [146]:
my_dict['Car4'] = "Honda"

In [147]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Honda'}

# Nested Dictionary

In [149]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [151]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [157]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [159]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

In [164]:

## create an empty Tuples

my_tuple=tuple()

In [161]:
type(my_tuple)

tuple

In [162]:
myy_tuple = ()

In [163]:
type(myy_tuple)

tuple

In [173]:
myy_tuple = ("Adam Hangman Page", "kenny Omega", "Brodi Lee","Adam Hangman Page")

In [174]:
myy_tuple

('Adam Hangman Page', 'kenny Omega', 'Brodi Lee', 'Adam Hangman Page')

## Inbuilt function

In [175]:
myy_tuple.count("Adam Hangman Page")

2

In [178]:
myy_tuple.index("Brodi Lee")

2